.color-salmon{
    color: salmon;
}
.bg-salmon{
    background-color: salmon;
}
.padding-box{
    padding: 20px 30px;
}
.box-shadow{
    box-shadow: 10px 10px 0px black;
}
.margin-auto{
    margin: auto;
}
.flex-wrap{
    flex-wrap: wrap;
}