.bg-color {
  background-color: salmon;
  overflow: auto;
  width: 30%;
  height: 100vh;
}
.bg-color-1 {
  background-color: antiquewhite;
  width: 70%;
  overflow: auto;
  height: 100vh;
}
.border-radius {
  border-radius: 15px;
}
.margin {
  margin: 20px 20px 0px 20px;
}
.padding {
  padding: 7px;
}
.width {
  width: 90%;
}
.color-white {
  color: white;
}
.text-align-right {
  text-align: right;
}
.border-radius-2 {
  border-radius: 10px;
}
.padding-2 {
  padding: 3px;
}
.width-icon {
  width: 12%;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
